{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Berita</title>
{% endblock meta %}

{% block footer_style %}relative{% endblock %}

{% block content %}

  <div class="d-flex flex-column my-3">
    <h1 style="text-align: center;"> Berita </h1>

    <div class="card my-5 border-custom">
      <div class="card-body p-5">
        <h5 class="card-title">Card title</h5>
        <div class="card my-3 border-custom2">
          <div class="card-body child-card">
            <img class="img-fluid rounded image-custom" src="{% static 'img/download.jpg' %}" alt="Card image cap">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <p class="float-right">Sumber: <a href="#" class="card-link">Another link</a></p>
      </div>
    </div>

    <div class="card my-5 border-custom">
      <div class="card-body p-5">
        <h5 class="card-title">Card title</h5>
        <div class="card my-3 border-custom2">
          <div class="card-body child-card">
            <img class="img-fluid rounded image-custom" src="{% static 'img/download.jpg' %}" alt="Card image cap">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <p class="float-right">Sumber: <a href="#" class="card-link">Another link</a></p>
      </div>
    </div>

    <div class="card my-5 border-custom">
      <div class="card-body p-5">
        <h5 class="card-title">Card title</h5>
        <div class="card my-3 border-custom2">
          <div class="card-body child-card">
            <img class="img-fluid rounded image-custom" src="{% static 'img/download.jpg' %}" alt="Card image cap">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <p class="float-right">Sumber: <a href="#" class="card-link">Another link</a></p>
      </div>
    </div>

  </div>

{% endblock content %}
