/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}

.image-custom{
  width: 50%;
}

.border-custom{
  border-style: solid;
  border-radius: 2em;
  border-width: 0.3em;
  border-color: black;
}

.border-custom2{
  background-color: #d6d6d6;
  border-style: solid;
  border-radius: 2em;
  border-width: 0.2em;
  border-color: black;
}

.flex-column{
  padding-right: 15em;
  padding-left: 15em;
}

@media screen and (max-width: 992px) {
  .image-custom{
    width: 100%;
  }

  .flex-column{
    padding-right: 1em;
    padding-left: 1em;
  }
}