{% extends 'base.html' %}
{% load static %}
<!-- Required meta tags -->

{% block meta %}
<title>{{page_title}}</title>
{% endblock meta %}

{% block footer_style %}relative{% endblock %}

{% block content %}


    <div class="d-flex flex-column my-3">
        <h1 style="text-align: center;"> {{page_title}} </h1>
    <div class="card my-5 border-custom">
      <div class="card-body p-5">
        <h5 class="card-title">{{page_title}}</h5>
        <div class="card my-3 border-custom2">
          <div class="card-body child-card">
            <form method = 'POST'>
                {%csrf_token%}
                {%for form in post_form%}
            
                    <div class = "form-group">
                        {{form.label}}
                        {{form}}
                    </div>
                
                    
                {%endfor%}
                <button type = "Submit">Kirim</button>
            
                </form>

          </div>
        </div>

      </div>
    </div>
   
   

  

{% endblock content %}
