{% extends 'base.html' %}
{% load static %}
<!-- Required meta tags -->


{% block title %}
    <h1>{{page_title}}</h1>
{% endblock title %}


{% block content %}
    <h1>{{page_title}}</h1>
    <br>
    {% for post in posts%}

        <h1>{{post.email}}</h1>
        <h5>jenis : {{post.jenis_saran}}</h5>
        <p>{{post.saran}}</p>
    {%endfor%}
  

{% endblock content %}